@import 'tailwindcss';
@import '../../node_modules/@fontsource/inter/index.css';
@import '../../node_modules/@fontsource/outfit/index.css';
@import '../../node_modules/prismjs/themes/prism-tomorrow.css';
@import '../../node_modules/prismjs/plugins/line-numbers/prism-line-numbers.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-heading: 'Outfit', sans-serif;
}

/* Custom Prism Overrides to match design */
pre[class*="language-"] {
    border-radius: 0.75rem;
    margin: 1.5rem 0;
    background: #1e1e1e !important;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.dark pre[class*="language-"] {
    background: #0d1117 !important;
    border-color: #30363d;
}